.nav-link {
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  color: grey;
  transition: all 0.2s ease-out;
  font-weight: 600;

  &:where(:hover, :focus-visible) {
    color: white;
  }

  &--active {
    color: white;
  }
}
