.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1.6rem 5rem;
  background-color: #46464633;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Bruno Ace SC", cursive;
  color: white;
  transition: all 0.2s ease-out;

  &:where(:hover) {
    color: lightcoral;
  }
}

.logo-image {
  width: 50px;
  height: 50px;
}
